# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Env / secrets
.env

# Logs
*.log

#firebase 
backend/firebase-service-account.json
firebase-login-test.html

#access-control
# backend/config/access_control.csv